@import "tailwindcss";

html, body {
  background: #ffffff;
  scroll-behavior: smooth;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.float-smooth {
  animation: float 3s ease-in-out infinite;
}

.font-primary {
  font-family: var(--font-primary), sans-serif;
}
